#Non-staged changes in MASTER
#Staged changes in branch1
#Non-staged changes in branch1
#REVISION 1 CHANGED IN BRANCH 2
#BRANCH 2
# COMMIT TO BE PUSHED
# LOCAL COMMIT (WILL BE PUSHED)
# WTF
# RESTORE COMMENT, COMMIT AND PULL TO SEE IF CONFLICT RAISES
Order Allow,Deny
Deny from all
